<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} </title> 
        {% else %}
            <title>Rebel Marketplace</title> 
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f8235664ac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('home') }}">The Rebel Marketplace</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i><p> Home</p></a></li>
                    <li><a href="{{ url_for('catalog') }}"><i class="fas fa-stream"></i><p> Catalogue</p></a></li>
                    <!--<li><a href="{{ url_for('contact') }}">Contact</a></li>-->
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('account') }}">Account</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li><a href="{{ url_for('new_product') }}">New Product</a></li>
                    {% else %}
                        <div class="dropdown">
                            <li class="dropbtn"><i class="fas fa-store"></i><p> Business Account <i class="fas fa-caret-down"></i></p>
                            </li>
                            <div class="dropdown-content">
                                <li><a href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register</a></li><br>
                                <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                            </div>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{category}}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>