{% extends "base.html" %}
{% block content %}
    <h2>Your order</h2>
    <div class="orderInfo">
        <h3>1 x {{ product.name }} </h3>
        {% if product.image.startswith("http") %}
            <img src="{{ product.image }}">
        {% else %}
            <img src="{{ url_for('static', filename='product_pics/' + product.image) }}">
        {% endif %}
        <br>
        <p>{{ product.description}}</p>
    </div>
    <div class="purchaseForm">
        <form action="", method="POST">
            {{ form.hidden_tag() }} 
            <div>
                {{ form.card_number.label()}}
                    {% if form.card_number.errors %}
                    {{ form.card_number()}}
                    <div class="error">
                        {% for error in form.card_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.card_number()}}
                    {% endif %}
                </div>
                <div>
                {{ form.expiration_date.label()}}
                {% if form.expiration_date.errors %}
                    {{ form.expiration_date(class="token-class invalid")}}
                    <div class="error">
                    {% for error in form.expiration_date.errors %}
                        <span>{{ error }}</span> 
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.expiration_date()}}
                {% endif %}
                </div>
                <div>
                    {{ form.cvv.label()}}
                    {% if form.cvv.errors %}
                        {{ form.cvv(class="token-class invalid")}}
                        <div class="error">
                        {% for error in form.cvv.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cvv()}}
                    {% endif %}
                    </div>
            <div>
            <h3>Total: €{{ product.price}}</h3>
            {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock content %}                                              