{% extends "base.html" %}
{% block content %}
    <div>
        <h2> {{ current_user.name }} </h2>
        <p> {{ current_user.email }} </p> 
    </div>
    <div>
        {% for product in products %}
            <div class="card">
                <h1>{{ product.name}} </h1>
                <p class="price">€{{product.price}}</p>
                <a href="{{ url_for('product', product_id=product.id)}}"><button></button>More info</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
