{% extends "base.html" %}
{% block content %}
<div>
    <form method="POST", action="", class="register-form", enctype="multipart/form-data">
        {{ form.hidden_tag() }} 
        <div>
            <div>
            {{ form.name.label(class="token-class")}}
                {% if form.name.errors %}
                {{ form.name(class="token-class")}}
                <div class="error">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="token-class")}}
                {% endif %}
            </div>
            <div>
            {{ form.description.label(class="token-class")}}
            {% if form.description.errors %}
                {{ form.description(class="token-class invalid")}}
                <div class="error">
                {% for error in form.description.errors %}
                    <span>{{ error }}</span> 
                {% endfor %}
                </div>
            {% else %}
                {{ form.description(class="token-class")}}
            {% endif %}
            </div>
            <div>
                <div>
                {{ form.price.label(class="token-class")}}
                    {% if form.price.errors %}
                    {{ form.price(class="token-class")}}
                    <div class="error">
                        {% for error in form.price.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.price(class="token-class")}}
                    {% endif %}
                </div>
                <div>
                {{ form.quantity.label(class="token-class")}}
                {% if form.quantity.errors %}
                    {{ form.quantity(class="token-class invalid")}}
                    <div class="error">
                    {% for error in form.quantity.errors %}
                        <span>{{ error }}</span> 
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.quantity(class="token-class")}}
                {% endif %}
                </div>
                <div>
                    {{ form.image.label(class="token-class")}}
                    {% if form.image.errors %}
                        {{ form.image(class="token-class invalid")}}
                        <div class="error">
                        {% for error in form.image.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image(class="token-class")}}
                    {% endif %}
                    </div>
                </div>
            </div>
        <div>
        {{ form.submit }}
        </div>
    </form>
</div>
{% endblock content %}