{% extends "base.html" %}
{% block content %}
    <div class="productDisplay">
        <h2>{{ product.name }} </h2>
        <p> <a href="{{ url_for('company', company_id=product.company.id)}}">{{ product.company.name }}</a></p>
        {% if product.image.startswith("http") %}
            <img src="{{ product.image }}"><br>
        {% else %}
            <img src="{{ url_for('static', filename='product_pics/' + product.image) }}"><br>
        {% endif %}
        <div class="desc">
            <p>{{ product.description}}</p>
            <br>
            <p>Price: €{{ product.price}}</p>
            <p>Quanitity Available: {{ product.quantity}}</p>
        </div>
        <a class="buyNow" href="{{ url_for('buy', product_id=product.id) }}"><i class="fas fa-shopping-cart"></i> Buy Now <br> €{{ product.price}}</a>
        {% if product.company == current_user %}
            <div>
                <a href="{{ url_for('update_product', product_id=product.id)}}">Update Product</a>
                <form action="{{ url_for('delete_product', product_id=product.id) }}", method="POST">
                    <input type="submit", value="Delete">
                </form>
            </div>
        {% endif %}<br>
    </div>
{% endblock content %}
