{% extends "base.html" %}
{% block content %}
    <h2>Register your business</h2>
    <br><br>
    <div>
        <form method="POST", action="", class="register-form">
            {{ form.hidden_tag() }}
            <div class="multi-panel">
              <div class="col">
                <div>
                <!-- havent added any class but you have to do it this way for flask -->
                  {{ form.name.label(class="token-class")}}

                  {% if form.name.errors %}
                    {{ form.name(class="token-class")}}
                      {% for error in form.name.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.name(class="token-class")}}
                  {% endif %}
                </div>
                <div>
                  {{ form.email.label(class="token-class")}}

                    {% if form.email.errors %}
                      {{ form.email(class="token-class")}}
                        {% for error in form.email.errors %}
                          <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                      {{ form.email(class="token-class")}}
                    {% endif %}
                </div>
                <div>
                  {{ form.password.label(class="token-class")}}

                  {% if form.password.errors %}
                    {{ form.password(class="token-class")}}
                      {% for error in form.password.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.password(class="token-class")}}
                  {% endif %}
                </div>
                <div>
                  {{ form.confirm_password.label(class="token-class")}}

                  {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="token-class")}}
                      {% for error in form.confirm_password.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.confirm_password(class="token-class")}}
                  {% endif %}
                </div>
              </div>
              <div class="col">
                <div>
                  {{ form.address1.label(class="token-class")}}

                  {% if form.address1.errors %}
                    {{ form.address1(class="token-class")}}
                      {% for error in form.address1.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.address1(class="token-class")}}
                  {% endif %}
                </div>
                <div>
                  {{ form.address2.label(class="token-class")}}

                  {% if form.address2.errors %}
                    {{ form.address2(class="token-class")}}
                      {% for error in form.address2.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.address2(class="token-class")}}
                  {% endif %}
                </div>
                <div>
                  {{ form.address3.label(class="token-class")}}

                  {% if form.address3.errors %}
                    {{ form.address3(class="token-class")}}
                      {% for error in form.address3.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.address3(class="token-class")}}
                  {% endif %}
                </div>
                <div>
                  {{ form.county.label(class="token-class")}}
                  {{ form.county(class="token-class")}}
                </div>
                <div>
                  {{ form.eircode.label(class="token-class")}}
                  {% if form.eircode.errors %}
                    {{ form.eircode(class="token-class")}}
                      {% for error in form.eircode.errors %}
                        <span class="error">{{ error }}</span> 
                      {% endfor %}
                  {% else %}
                    {{ form.eircode(class="token-class")}}
                  {% endif %}
                </div>
            </div>
          </div>
          <hr>
          <div>
            {{ form.submit }}
          </div>
        </form>
        <div>
          <small> 
            Already have an account? <a href="{{ url_for('login') }}">Sign in</a>
          </small>
        </div>
    </div>
{% endblock content %}