{% extends "base.html" %}
{% block content %}
<h2> Update Product </h2><br>
<div>
    <form method="POST", action="", class="register-form", enctype="multipart/form-data">
        {{ form.hidden_tag() }} 
        <div>
            <div>
            {{ form.name.label()}}
                {% if form.name.errors %}
                    {{ form.name()}}
                    {% for error in form.name.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.name()}}
                {% endif %}
            </div>
            <div>
                {{ form.description.label()}}
                {% if form.description.errors %}
                    {{ form.description()}}
                    {% for error in form.description.errors %}
                        <span class="error">{{ error }}</span> 
                    {% endfor %}
                {% else %}
                    {{ form.description()}}
                {% endif %}
            </div>
            <div>
                <div>
                {{ form.price.label()}}
                    {% if form.price.errors %}
                    {{ form.price()}}
                        {% for error in form.price.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.price()}}
                    {% endif %}
                </div>
                <div>
                    {{ form.quantity.label()}}
                    {% if form.quantity.errors %}
                        {{ form.quantity()}}
                        {% for error in form.quantity.errors %}
                            <span class="error">{{ error }}</span> 
                        {% endfor %}
                    {% else %}
                        {{ form.quantity()}}
                    {% endif %}
                </div>
                <div>
                    {{ form.image.label() }}
                    <div>
                        {% if product.image.startswith("http") %}
                            <img src="{{ product.image }}"><br>
                        {% else %}
                            <img src="{{ url_for('static', filename='product_pics/' + product.image) }}"><br>
                        {% endif %}
                    </div>
                    <div>
                        {% if form.image.errors %}
                            {{ form.image()}}
                            {% for error in form.image.errors %}
                                <span class="error">{{ error }}</span> 
                            {% endfor %}
                        {% else %}
                            {{ form.image()}}
                        {% endif %}
                    </div>
                </div>
        <div>
        <br>
        {{ form.submit }}
        </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <label for="delete">Cannot be undone</label>
    <form action="{{ url_for('delete_product', product_id=product.id) }}", method="POST">
        <input id="deleteProduct" type="submit", value="Delete">
    </form>
</div>

{% endblock content %}