@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main { 
    padding-top: 20px;
    margin: 0 5%;
}

a {
    text-decoration: none;
}

img.homeFeature {
    float: left;
    margin: 0 4%;
    max-width: 30%;
}

.homeFeature h2 {
    text-align: center;
}

img.homeFeature{
    max-height: 400px;
}

.homeFeature {
    max-width: 1200px;
}

/* Nav Bar */
/***************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #FFF;
    color: #191414;
}

nav ul {
    list-style: none;
}

nav ul li, .dropdown {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

header a { 
    color:#191414
}

nav li a:hover {
    color: #1DB954;
}

.dropdown:hover .dropbtn, .dropdown:focus .dropbtn {
    opacity: 0.9;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
    display: block;
  }
  
  nav p {
    display: inline;
}

@media screen and (max-width: 1130px) {

    header {
        display: block;
        text-align: right;
        padding: 30px 40px;
    }

    header h1 {
        display: none;
    }

    nav ul li, .dropdown {
        padding: 0 10px;
    }
}


@media screen and (max-width: 690px) {

    header {
        display: block;
        text-align: left;
        padding: 20px 30px;
    }

    nav ul li p, header h1 {
        display: none !important;
    }

    nav ul li, .dropdown {
        padding: 0 10px;
    }
}

/***************/

/* Product cards */
/***************/

.products-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1940px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 40px 50px;
    padding: 20px;
    text-align: center;
    font-family: arial;
    width: 20%;
    min-width: 230px;
    max-width: 250px;
  }

.card img {
    max-width: 60%;
    max-height: 200px;
}

.price {
    text-align: left;
    color: grey;
    font-size: 15px;
    margin: 10px 0;
}

.card:hover {
    opacity: 0.7;
}

.productCompanyTitle {
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-decoration: underline;
}

.productTitle {
    text-align: left;
    color: black;
    font-size: 16px;
    text-shadow: 1px 1px #eee;
    margin: 10px 0;
}

.productDisplay img{
    max-width: 80%;
    max-height: 200px;
    margin: 30px 50px 30px 0;
    float:left;
}

.productDisplay h2{
    max-width: 500px;
    margin-bottom: 5px;
}

.productDisplay .desc{
    margin: 0 50px 50px 0;
    float: left;
    max-width: 500px;
}

.productDisplay a.buyNow {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: inline-block;
    color: black;
    background-color: #eee;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}

.productDisplay a.buyNow:hover {
    opacity: 0.7;
}

/* Forms */
.register-form {
    width: 100%;
}

.col {
    float: left;
    width: 40%;
    margin: 0 5%;
}

.invalid-input {
    color:red;
    font-size: small¸;
}

select {
    font-size: 15px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 18px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.success {
   color:green;
   list-style-type:none;
   padding-bottom: 10px;
}

.error {
   color:red;
   list-style-type:none;
   padding-bottom: 10px;
}

.info {
    color: turquoise;
}