* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", "Helvetica", sans-serif;
}

main { 
    padding-top: 100px;
    margin: 0 5%;
}

a {
    text-decoration: none;
}

/* Nav Bar */
/***************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #191414;
    color: #FFFFFF;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

header a { 
    color:#FFFFFF
}

nav li a:hover {
    color: #1DB954;
}
/***************/

/* Product cards */
/***************/

.products-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
    max-width: 1940px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-family: arial;
  }

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/* Forms */
.register-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.invalid-input {
    color:red;
    font-size: small¸;
}

.flashes {
   color:green;
}